@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

@tailwind base; 
@tailwind components; 
@tailwind utilities;

@layer utilities {
  .bg-lang-bg {
    background-image: url('./assets/background.png');
  }
}